<div class="container">
  <div class="search clearfix">
    <%= form_tag marks_search_path, id: 'search', class: "form-search pull-left #{'autosubmit' if @q}" do %>
      <%= text_field_tag :q, @q %>
      <%= submit_tag '', class: 'btn btn-warning' %>
    <% end %>
  </div>

  <div class="paging">
  </div>

  <div class="errors">
  </div>

  <div class="results">
  </div>

  <div class="status">
  </div>
</div>

<script>
  var searcher = new TmZone.Searcher("watch");
</script>
