#SP_sandbox {
  position: fixed;
  direction: ltr;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483647;
}

.SP_sandbox,.SP_sandbox ABBR,.SP_sandbox ACRONYM,.SP_sandbox ADDRESS,.SP_sandbox B,.SP_sandbox BIG,.SP_sandbox BLOCKQUOTE,.SP_sandbox CAPTION,.SP_sandbox CENTER,.SP_sandbox CITE,.SP_sandbox CODE,.SP_sandbox DD,.SP_sandbox DIV,.SP_sandbox DL,.SP_sandbox DT,.SP_sandbox EM,.SP_sandbox EMBED,.SP_sandbox FONT,.SP_sandbox FORM,.SP_sandbox H1,.SP_sandbox H2,.SP_sandbox H3,.SP_sandbox H4,.SP_sandbox H5,.SP_sandbox H6,.SP_sandbox I,.SP_sandbox IFRAME,.SP_sandbox IMG,.SP_sandbox LABEL,.SP_sandbox LEGEND,.SP_sandbox LI,.SP_sandbox MAP,.SP_sandbox OBJECT,.SP_sandbox OL,.SP_sandbox P,.SP_sandbox PRE,.SP_sandbox SMALL,.SP_sandbox SPAN,.SP_sandbox STRIKE,.SP_sandbox STRONG,.SP_sandbox SUB,.SP_sandbox SUP,.SP_sandbox TABLE,.SP_sandbox TBODY,.SP_sandbox TD,.SP_sandbox TFOOT,.SP_sandbox TH,.SP_sandbox THEAD,.SP_sandbox TR,.SP_sandbox TT,.SP_sandbox U,.SP_sandbox UL,.SP_sandbox a,.SP_sandbox a:link,.SP_sandbox a:hover,.SP_sandbox a:visited,.SP_sandbox a:active,.SP_sandbox article,.SP_sandbox aside,.SP_sandbox canvas,.SP_sandbox details,.SP_sandbox figcaption,.SP_sandbox figure,.SP_sandbox footer,.SP_sandbox header,.SP_sandbox hgroup,.SP_sandbox mark,.SP_sandbox menu,.SP_sandbox meter,.SP_sandbox nav,.SP_sandbox output,.SP_sandbox progress,.SP_sandbox section,.SP_sandbox summary,.SP_sandbox small,.SP_sandbox time
{border:0px;background:transparent none;color:#595959;padding:0px;text-align:left;line-height: 18px;font-size: 13px; font-weight: normal; font-family: Helvetica, Arial, Verdana, sans-serif !important; }
.SP_sandbox DIV,.SP_sandbox TABLE,.SP_sandbox TR,.SP_sandbox TH,.SP_sandbox TD{height:auto;width:auto; }
.SP_sandbox,.SP_sandbox *{border-collapse:collapse;margin:0px;font:normal normal normal 12px/normal;text-transform:none;text-decoration:none;clear:none;cursor:auto;float:none;outline:none;letter-spacing:normal;word-spacing:normal;text-indent:0px;white-space:normal;vertical-align:baseline;-moz-box-shadow:none;box-shadow:none;}
.SP_sandbox TD{vertical-align:bottom}
.SP_sandbox span,.SP_sandbox img{display:inline;}
.SP_sandbox p,.SP_sandbox div{display:block;}
.SP_sandbox ul,.SP_sandbox ol{padding-left:20px}
.SP_sandbox input{width:auto;border:0px;background:#fff none;font: normal;line-height: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: left;-moz-box-shadow:none !important;box-shadow:none !important;font-size: 13px !important; font-family: Helvetica, Arial, Verdana, sans-serif !important;}


/* General styling classes */
.SP_sandbox {
  z-index: 2147483647;
}

.SP_sandbox label[for] { cursor: pointer; }

.SP_sandbox a, .SP_sandbox a:link, .SP_sandbox a:visited {
  color: #14b9cc;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  -moz-transition: color .1s ease-in;
  transition: color .1s ease-in;
}
.SP_sandbox a:hover, .SP_sandbox a:active {
  font-weight: bold;
  text-decoration: none;
  color: #1bc2c9;
}

.SP_sandbox .SPOOL_close {
  position: absolute;
  top: -13px;
  left: -13px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent url('chrome://spool/skin/close.png') no-repeat 0 0;
}

.SP_sandbox .SPOOL_note {
  padding: 7px 14px;
  margin: 7px 0;
  color: #fff;
  text-align: center;
  background-color: #1d1d1e;
  -moz-border-radius: 5px;
}

/* More specific stylings based on ids */
.SP_sandbox.SPOOL_popup .SPOOL_form {
  position: relative;
  top: 50%;
  margin-top: -100px;
  width: 240px;
  padding: 7px 5px;
  -moz-border-radius: 5px;
}

.SP_sandbox.SPOOL_popup header#SPOOL_branding {
  position: relative;
  display: block;
  top: -7px;
  left: -5px;
  height: 32px;
  text-align: center;
  padding: 8px 10px 4px 10px;
  width: 230px;
  border-bottom: 1px solid #000;
  margin-bottom: 14px;
  -moz-box-shadow: inset 0 1px 2px 0 rgba(256, 256, 256, .25);
  background: -moz-linear-gradient(bottom, #151515, #272727);
}

.SP_sandbox .SPOOL_form input:not([type='submit']) {
  display: block;
  font-size: 16px !important;
  font-weight: bold;
  height: 16px;
  color: #5d5d5d;
  width: 200px;
  background-color: #fff;
  border: 2px solid #e3e3e3;
  padding: 14px;
  margin: 0 0 7px 0;
  -moz-border-radius: 8px;
}
.SP_sandbox .SPOOL_form input[type='submit'] { margin-top: 7px; }

.SP_sandbox .SPOOL_button:not([disabled]), .SP_sandbox .SPOOL_button {
  height: auto;
  line-height: 138.5%;
  width: 100%;
  border: 0;
  color: #fff;
  font-size: 119% !important;
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  padding: 4px 8px;
  cursor: pointer;
  background-color: #179bab;
  border: 1px solid #1b97a7;
  background: -moz-linear-gradient(bottom, #107e90, #38b2bf) !important;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  text-align: center;
  -moz-appearance: none;
}
.SP_sandbox .SPOOL_button:not([disabled]):hover, .SP_sandbox .SPOOL_button:not([disabled]):focus {
  background: -moz-linear-gradient(bottom, 0%, #1a8e9d, 100%, #1abdc7);
  border-width: 2px;
  padding: 3px 7px;
  border-color: #23cae0;
}
.SP_sandbox .SPOOL_button:not([disabled]):active {
  background: -moz-linear-gradient(top, 0%, #107e90, 100%, #38b2bf);
}
.SP_sandbox .SPOOL_button[disabled] {
  border-color: #999;
  background: -moz-linear-gradient(bottom, 0%, #5c5c5c, 100%, #a5a5a5);
  cursor: default;
}
.SP_sandbox .SPOOL_button.SPOOL_white {
  background: -moz-linear-gradient(bottom, #f5f5f5, #fff) !important;
  border: 1px solid #ccc;
  text-shadow: none;
  color: #999 !important;
}
.SP_sandbox .SPOOL_button.SPOOL_white:hover {
  border-width: 1px;
  padding: 4px 8px;
  color: #179bab;
  border-color: #aaa;
}


.SP_sandbox nav {
  text-align: center;
  margin: 10px 5px;
}

.SP_sandbox div.SPOOL_thumbnail {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.SP_sandbox div.SPOOL_thumbnail div.SPOOL_icon {
  position: relative;
  width: 45px;
  height: 45px;
  background-position: 0 0;
  overflow: hidden;
}
.SP_sandbox div.SPOOL_thumbnail div.SPOOL_failed {
  background-position: -45px 0;
}

.SP_sandbox .SP_tooltip {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  width: 200px;
  height: auto;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
  z-index: 2147483647;
}
.SP_sandbox .SP_tooltip .SP_arrow {
  position: absolute;
  bottom: -9px;
  left: 100px;
  background: #fff;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  width: 6px;
  height: 6px;
  margin: 4px 6px;
  -moz-box-shadow: 2px -2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 2px -2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}

.SP_sandbox .SPOOL_error {
  text-align: left;
  -moz-transition: all .25s ease-out;
}
.SP_sandbox .SPOOL_error.SP_active {
  background-color: #c65d3a;
  color: #fff;
}


#SPOOL_toaster {
  position: fixed;
  top: 5px;
  right: 15px;
  z-index: 2147483647;
  max-width: 550px;
}

#SPOOL_toaster .SPOOL_toast {
  position: relative;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  width: auto;
  margin: 16px 0 5px 0;
  opacity: 1;
  z-index: 2147483647;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: opacity .25s ease-out;
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
}
#SPOOL_toaster .SPOOL_toast > header {
  display: inline-block;
  padding: 14px 10px 0 10px;
  border: 0;
  min-width: 0;
  min-height: 0;
  height: auto;
  width: auto;
}
#SPOOL_toaster .SPOOL_toast header a.SPOOL_logo {
  display: block;
  width: 36px;
  height: 17px;
  overflow: hidden;
  background: transparent url('chrome://spool/skin/spool_logo_toast.png') no-repeat 0 0;
}

#SPOOL_toaster .SPOOL_toast > .SPOOL_message {
  position: relative;
  display: inline-block;
  padding: 6px;
  vertical-align: top;
  width: 400px;
  border-left: 1px solid #f2f2f2;
}
#SPOOL_toaster .SPOOL_toast > .SPOOL_message > .SPOOL_flex1 { display: inline-block; max-width: 216px; margin-right: 10px; }
#SPOOL_toaster .SPOOL_toast > .SPOOL_message > .SPOOL_flex0 { display: inline-block; max-width: 170px; vertical-align: top; }

#SPOOL_toaster .SPOOL_toast .SPOOL_message .SPOOL_button {
  width: auto;
  height: auto;
  min-width: 170px;
  font-size: 119% !important;
  vertical-align: top;
}

#SPOOL_toaster .SPOOL_toast h1, #SPOOL_toaster .SPOOL_toast h1 {
  height: auto;
  font-size: 16px;
  font-weight: bold !important;
  font-variant: normal !important;
  text-decoration: none;
}
#SPOOL_toaster .SPOOL_toast h1.SPOOL_normal {
  color: #333 !important;
}
#SPOOL_toaster .SPOOL_toast h1.SPOOL_complete {
  color: #1d9cac !important;
}
#SPOOL_toaster .SPOOL_toast h1.SPOOL_failed {
  color: #c65d3a !important;
}
#SPOOL_toaster .SPOOL_toast h2 { font-weight: bold !important; }

#SPOOL_toaster .SPOOL_toastfade {
  opacity: 0;
  -moz-transition: opacity .25s ease-out;
}
#SPOOL_toaster .SPOOL_toast p {
  margin-top: 10px;
}

/* for searching */
#SPOOL_toaster .SPOOL_toast #SPOOL_sharemsg {
  position: relative;
  padding: 4px 4px 0 4px;
  min-height: 32px;
  background-color: #fff;
  width: 320px !important;
  display: inline-block;
}
#SPOOL_toaster .SPOOL_toast p.SPOOL_fbpublic {
  position: relative;
  padding-left: 30px;
  display: none;
  -moz-transition: display .3s ease-out;
}
#SPOOL_toaster .SPOOL_toast #SPOOL_sharemsg {
  width: 330px;
  padding-bottom: 4px;
  margin: 10px 0;
  display: block;
}
#SPOOL_toaster .SPOOL_toast #SPOOL_sharearrow {
  position: absolute;
  top: -8px;
  left: 40px;
  background: #fff;
  border-top: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  width: 8px;
  height: 8px;
  margin: 4px 6px;
  z-index: 2000;
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch {
  position: relative;
  float: left;
  margin: 4px 0 0 2em;
  line-height: 13px;
  min-height: 26px;
  max-width: 255px;
  background-color: #fff;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch:before {
  content: "To: ";
  position: absolute;
  left: -2em;
  line-height: 32px;
  font-weight: bold;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch input {
  display: inline-block;
  border: 0;
  padding: 0;
  height: auto;
  line-height: 100%;
  width: 10em;
  margin: 0;
}
#SPOOL_toaster .SPOOL_toast input:-moz-placeholder, #SPOOL_toaster .SPOOL_toast textarea:-moz-placeholder, #SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_placeholder {
  font: 13px/24px normal Helvetica, Arial, Verdana, sans-serif !important;
  color: #b2b2b2;
  font-weight: normal;
}

#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_placeholder {
  position: absolute;
  top: 3px;
  left: 1px;
  visibility: hidden;
  line-height: 24px;
  z-index: 2001;
}

#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_name {
  display: inline-block;
  vertical-align: top;
  color: #646464;
  line-height: 15px;
  font-weight: normal;
  padding: 4px 8px;
  margin: 0 4px 4px 0;
  border: 1px solid #7ba6da;
  background: -moz-linear-gradient(bottom, #b5daed, #d4eaf6);
  -moz-border-radius: 15px;
  border-radius: 15px;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_me {
  border-color: #b2b2b2;
  background: -moz-linear-gradient(bottom, 0%, #dbdbdb, 100%, #f3f3f3);
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_newname { position: relative; display: inline-block; height: 32px; z-index: 2000; }
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_newname input { position: relative; background-color: transparent; line-height: 24px; padding-top: 8px; z-index: 2002; }

#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_name a.SPOOL_x {
  display: inline-block;
  height: 13px;
  width: 13px;
  vertical-align: -2px;
  background: transparent url('chrome://spool/skin/name_close.png') no-repeat top left;
  margin-left: 5px;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch .SPOOL_name.SPOOL_fbadd img {
  vertical-align: middle;
  margin-top: -4px;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container {
  width: 100%;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SP_avatar {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: -3px;
  margin-right: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .1);
  background: transparent url('chrome://spool/skin/avatar.png') no-repeat 0 0;
  background-size: 16px 16px;
  overflow: hidden;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_button {
  min-width: 0;
  float: right;
  margin-top: 3px;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay {
  position: relative;
  min-height: 6.5em;
  width: 412px;
  left: -6px;
  border-top: 1px solid #dee9eb;
  margin-top: 3px;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest {
  position: relative;
  margin: 0;
  list-style-type: none;
  min-height: 6.5em;
  background: #fff;
  padding-left: 0;
  z-index: 3;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest li, #SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest_error {
  list-style-type: none;
  padding: 8px;
  background: #effbfd;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  z-index: 3;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest li {
  cursor: pointer;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest li:hover, #SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest li[selected] {
  background-color: #d4eaf6;
  word-break: break-all;
  white-space: normal;
  text-overflow: initial;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest_error {
  position: relative;
  display: -moz-box;
  width: 396px;
  border-bottom: 1px solid #dee9eb;
  z-index: 5;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest_error div {
  padding-right: 5px;
  line-height: 24px;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_suggest_error div.SPOOL_flex {
  -moz-box-flex: 1;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_sharemsg {
  position: absolute;
  top: 0;
  width: 412px;
  z-index: 1;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_sharemsg textarea {
  width: 402px;
  height: 4em;
  border: 0;
  padding: 5px;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_sharemsg strong {
  display: block;
  text-align: right;
  margin: 3px;
  font-weight: bold;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_overlay .SPOOL_sharemsg strong[error] { color: #c65e3b; }

#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_linkacc {
  position: relative;
  height: 24px;
  width: 392px;
  left: -6px;
  display: block;
  line-height: 24px;
  text-align: right;
  background: #f0f0f0;
  padding: 5px 10px;
  -moz-box-shadow: inset 0 1px 2px 0 rgba(256, 256, 256, .25);
  border-top: 1px solid #ccc;
  background: -moz-linear-gradient(bottom, #bababa, #e8e8e8);
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_linkacc:before {
  content: "Link more accounts";
  position: absolute;
  left: 5px;
  font-weight: normal;
}
#SPOOL_toaster .SPOOL_toast .SPOOL_forsearch_container .SPOOL_status {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

/* spool reader item */
.SP_spoolthis {
  position: relative;
  display: inline;
  border: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.SP_spoolthis.SP_spoolthis_button {
  width: 55px;
  height: 20px;
}