<div class="col column-middle">
  {{#registration_number}}
    <h4>Číslo zápisu</h4>
    <em>{{registration_number}}</em>
  {{/registration_number}}
  {{^registration_number}}
    <h4>Číslo prihlášky</h4>
    <em>{{application_number}}</em>
  {{/registration_number}}

  <h4>Dátum podania</h4>
  <p>{{application_date}}</p>

  <h4>Dátum zápisu</h4>
  <p>{{registration_date}}</p>

  <h4>Dátum platnosti</h4>
  <p>{{valid_until}}</p>
</div>
<div class="col column-right">
  <h4>Majiteľ/Prihlasovateľ</h4>
  <p>{{owner}}</p>

  {{#showWatchButton}}
    <div class="action-watch" title="Sledovať známku">Sledovať známku</div>
  {{/showWatchButton}}

  <h4>Číslo prihlášky</h4>
  <p>{{application_number}}</p>
</div>
