@import 'bootstrap/mixins';

.static {
  background: #fff;
  border: 1px solid #dad8d1;
  @include border-radius(6px);
  margin-top: 20px;
  margin-bottom: 20px;

  position: relative;
  overflow: hidden;

  .col {
    float: left;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .navigation {
    border-right: 1px solid #dad8d1;
    background: 1px solid #f8f7f5;
    width: 240px;

    padding-top: 33px;

    ul {
      margin-left: 0;
      li {
        list-style-type: none;
        padding: 10px 15px 10px 26px;

        & + li {
          border-top: 1px solid #dad8d1;
        }
      }
    }
  }

  .content {
    padding: 30px;
    width: 639px;

    p {
      line-height: 1.5em;
    }

    h1 {
      font-size: 26px;
      font-weight: normal;
      margin-bottom: 16px;
    }

    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }

    ul {
      margin-top: 21px;
      li {
        list-style-image: url(image-path('list-icon.png'));
        margin-top: 10px;
      }
    }
  }
}
